{% extends 'index.html.twig' %}

{% block main %}
    {% if session().hasFlash('success') %}
        <div class="alert alert-success">
            {% for message in session().getFlash('success') %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
{% endblock %}